*{
    box-sizing: border-box;
}

body{
   
    background-image: url(GRID_TABLAZAT/kepek/hatter.jpg);
    background-repeat: repeat;
    background-size: 50%;
  
}

.container{
  width: 70%;
  height: 100%;
  margin: auto;
  background-color: yellow;
}


.grid-container {
    
    background-color: #fffffc;
    display: grid;
    grid-template-columns: 20% 25% 25% 30%;
    
  }
  
  .header { 
    height: 7rem;
    background-image: url(GRID_TABLAZAT/kepek/fejlec.jpg);
    /* grid-area: h;  */
    position: relative;
  }

  .header-title{
    color: #fffffc;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* eltolja a szöveg fele értékének az x és y tengelyen*/
    font-size: 1.5rem;
    font-weight: 800;
  }



  .menu { 
    /* grid-area: m;  */
    background-color: #fffffc;
    padding-top: 1.5rem;
    padding-left: 1rem;
  }
  .main-left { 
     background-color: #fffffc;
     padding-top: 1.5rem;
     padding-left: 2rem;

  
  }

  .main-right{
    padding-top: 1.5rem;
    padding-left: 1.5rem;


  }

  .aside {
    background-color: #fffffc;
    text-align: justify;
    border: 1px solid gray;
    padding: 1rem;
  
  }

  .footer { 
    /* grid-area: f;  */
     background-color: #2196f3;
  
  }

  .button{
    width: 13rem;
    background-color: #3d8be1;
    color: #fffffc;
    text-decoration: none;
    display: block;
    text-align: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-radius: 1rem;
    margin-bottom: 0.3rem;
    
  }

  .main{
    box-sizing: border-box;
    /* position: relative; */
  }
  

  .image-box{
    box-sizing: content-box;
    position: absolute;
    height: 7rem;
    width: 10rem;
    border-top: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
    border-bottom: 40px solid #ffffff;
    border-left: 20px solid #ffffff;
    box-shadow: 15px 15px 5px 0px rgba(184,184,184,0.6);
    outline: 2px solid #B9B9B9;
  }


  .image1{
    background-image: url(GRID_TABLAZAT/kepek/tel1.jpg);
    background-color: yellow;
    transform: rotate(-10deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  
  
  .image2{
    background-image: url(GRID_TABLAZAT/kepek/tel2.jpg);
    transform: rotate(10deg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

  }
  .image3{
    background-image: url(GRID_TABLAZAT/kepek/tel7.jpg);
    transform: rotate(-10deg);
    background-size: cover;
  }

  .image4{
    background-image: url(GRID_TABLAZAT/kepek/tel8.jpg);
    transform: rotate(10deg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image5{
    background-image: url(GRID_TABLAZAT/kepek/tel4.jpg);
    transform: rotate(-10deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .image6{
    background-image: url(GRID_TABLAZAT/kepek/tel5.jpg);
    transform: rotate(10deg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

  }

  .image7{
    background-image: url(GRID_TABLAZAT/kepek/tel3.jpg);
    transform: rotate(-10deg);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image8{
    background-image: url(GRID_TABLAZAT/kepek/tel6.jpg);
    transform: rotate(10deg);
    background-size: cover;
  

  }

  .box-holder1{
    padding-bottom: 12rem;
  }

  .box-holder2{
    padding-bottom: 20rem;
  }

  .box-holder3{
    padding-bottom: 12rem;
  }

  .box-holder4{
    padding-bottom: 17rem;
  }

  .box-holder5{
    padding-bottom: 12rem;
  }

  .box-holder6{
    padding-bottom: 20rem;
  }

  .box-holder7{
    padding-bottom: 12rem;
  }

  .box-holder8{
    padding-bottom: 17rem;
  }
 

  .content{
    background-color: #fffffc;
    border: 5px solid gray;
  }
 

  .aside-description{
    text-align: justify;
  }

  .footer{
    /* height: 3rem; */
    width: 100%;
    text-align: center;
    display: grid;
    vertical-align: middle;
  }